.skillsSection{
    background: #3da3d5;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    color: black;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.vertical-timeline-element-content{
    box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.25), 0, 0.4em 1.25em 0 rgba(0, 0, 0, 0.15) !important;
    padding: 1em 1.5em important;
    margin-bottom: 100px;
}


@media (max-width: 1169px)  {
    .iconImg{
        height: 40px;
    }
}